# Dataset and unimportant things
PDF_TXT/api_keys.py
PDF_TXT/OLD/
PDF_TXT/SAMPLE/
PDF_TXT/LFILES/
PDF_TXT/RESULTS/
PDF_TXT/FULL_DATA/
PDF_TXT/REPORTS/XL/
PDF_TXT/REPORTS/*.pickle
PDF_TXT/REPORTS/*.csv
*.csv
PDF_TXT/REPORTS/OLD/
