# Dataset and unimportant things
PDF_TXT/OLD/
PDF_TXT/SAMPLE/
PDF_TXT/LFILES/
PDF_TXT/REPORTS/IMAGES/
PDF_TXT/REPORTS/XL/
PDF_TXT/REPORTS/*.pickle
!PDF_TXT/REPORTS/*_ner.pickle
!PDF_TXT/REPORTS/*_pos.pickle
